<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body style="background:linear-gradient(135deg, #0f2027, #203a43, #2c5364);color: white;">

    <h1>Admin Dashboard</h1>
<div style="color: aliceblue;">
    <a href="{% url 'add_product' %}" style="color: aliceblue;">Add Product</a><br>

    <a href="{% url 'add_customer' %}" style="color: aliceblue;">Add Customer</a><br>

    <a href="{% url 'add_order' %}"style="color: aliceblue;">Add Order</a><br>
    </div>

</body>
</html>