<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body style="background:linear-gradient(135deg, #0f2027, #203a43, #2c5364); color: white;">

    <h1>Products</h1>

    {% for product in products %}
        <h2>{{ product.name }}</h2>
        <p>Category: {{ product.category }}</p>
        <p>Price: ₹{{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
      
       <a href="{% url 'delete_product' product.id %}">
    <button type="button">Delete</button>
   
</a>
{%endfor%}

</body>
</html>